header {
    font-family:'Courier New', Courier, monospace  
}

/* Blackish: #202020

Dark Grey: #3F3F3F

Medium Grey: #707070

yellow: lightgoldenrod

White: #FFFFFF*/


h1{
    margin: 0px;
    padding: 40px;
    font-size: 55px;
    text-align: center;
}

.title{
    text-align:center;
    background-color:#202020;
    color: #FFFFFF;
   
}

/* working on changing the links back to formatting specified */
.title a{
    text-decoration: none;
    Text-align: right;
    color: #ffffff;
    font-size: 139%;
    border-radius: 5px;
    padding: 0px 12px;
    font-weight: bold;
}

.title a:hover{
    background-color: #707070;
    cursor:grab;
}

main {
    background-color: #FFFFFF ;
    margin: 0% 4%;
}

#aboutme{
    background-color: lightgrey;
}

#aboutme h2{
    text-align: center;
    padding: 10px 0px 0px 0px ;
}

#resume {
    text-align:center;
    align-items: center;
}

#content{
    display:flex;
}

#aboutme img{
    width:310px;
    height: auto;
    margin:20px;
}

#aboutme p{
    margin:20px
}

.left{
    background-color: lightgoldenrodyellow;
}

.left .project_content{
    flex: row;
}

.right .project_content{
    flex: row-reverse;
}

.project {
    padding: 12px;
}

.project .project_content {
    display:flex;
}

.project h3{
    margin: 5px 0;
}

.project p{
    margin:2%;
}

.project img {
    width: 189px;
    height: auto;
    margin: 5px;
}

.first img {
    width: 400px;
    height: auto;
}

footer{
    align-items: center;
    text-align:center;
    margin:5%;
}

#contactme{
    border: dashed 2px;
    width: 200px;
    margin: 5px auto;
    padding: 10px;
}
