/* Blackish: #202020

Dark Grey: #3F3F3F

Medium Grey: #707070

yellow: lightgoldenrod

White: #FFFFFF*/

header {
    font-family:'Courier New', Courier, monospace  
}

/* Style for my name at the top */
h1{
    margin: 0px;
    padding: 40px;
    font-size: 55px;
    text-align: center;
}

/* style's header */
.title{
    display:flex;
    background-color:#202020;
    color: #FFFFFF;
}

.title>h1{
    justify-content: left;
}

.title>nav{
    justify-content: right;
    margin-top:auto;
    margin-left:auto;
}

/* styles navigation bar without hover */
.title a{
    text-decoration: none;
    text-align: right;
    color: #ffffff;
    font-size: 139%;
    border-radius: 5px;
    padding: 0px 12px;
    font-weight: bold;
}

/* styles navigation bar with header */
.title a:hover{
    background-color: #707070;
    cursor:grab;
}



/* Overall main content */
main {
    background-color: #FFFFFF ;
    margin: 0% 4%;
}

section {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.left-content {
    text-align: right;
    border-right: #404040 3px solid;
    padding-right: 15px;
    width: 20%;
}

.right-content {
    padding-left: 15px;
    width: 80%;
}

.left-content h2 {
    color: #404040;
}

#aboutme .content {
    display: flex;
    flex-direction: row;
}

#aboutme p{
    margin:20px
}

#aboutme img{
    width:200px;
    height: auto;
    margin:20px;
}

#resume .content {
    align-self: center;
    text-align: center;
    font-size: x-large;
}

/* creates the bars in the portfolio that are with picture on left */
.left{
    background-color: lightgoldenrodyellow;
}

.left .project_content{
    flex-direction: row;
}

.right .project_content{
    flex-direction: row-reverse;
}

/* creates formatting on portfolio padding */
.project {
    padding: 12px;
}

/* allows for the boxes to be flexed */
.project .project_content {
    display:flex;
}

/* portfolio heading */
.project h3{
    margin: 5px 0;
}

/* text margin */
.project p{
    margin:2%;
}

/* images with portfolio styling */
.project img {
    width: 189px;
    height: auto;
    margin: 5px;
}

/* only styling first image */
.first img {
    width: 400px;
    height: auto;
}